<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>City It</title>
</head>

<body>
    <nav>
        <div class="container">
            <div class="navbar__wrap">
                <ul class="navbar__brand">
                    <li>
                        <a href="#">
                            <img src="./assets/Untitled design (15).png" alt="">
                        </a>
                    </li>
                </ul>
                <ul class="navbar__links">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Service</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Courses</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="header__wrap">
                <h1> <span class="title__city"><span class="title__c">C</span>ITY</span> <span class="title__park">IT PARK</span> </h1>
            </div>
        </div>
    </header>

</body>

</html>